.card-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
    padding-top: 20px;
}

mat-card {
    width: 400px;
}

mat-card-title {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
}

.city-item {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}

.city-name-button {
    flex-grow: 1; /* Make the button take up all the available space */
    text-align: left; /* Align text to the left */
    white-space: nowrap; /* Prevent text from wrapping */
    overflow: hidden; /* Hide overflow text */
    text-overflow: ellipsis; /* Add ellipsis for overflow text */
}
