<button mat-button (click)="this.auth?.loginWithRedirect()">Log in</button>
<button mat-button (click)="this.auth?.logout()">Log out</button>
<button mat-button (click)="this.store.dispatch(CityActions.startLoadCitys())">Load cities</button>
<button mat-button (click)="test()">test</button>


<app-cities-pres [cities]="cities$ | async"></app-cities-pres>
<!--<app-forecasts-pres [forecasts]="forecasts$ | async"></app-forecasts-pres>-->
<!--<app-forecast-editor-pres (submitted)="this.store.dispatch(ForecastActions.startAddForecast({forecast: $event}))"></app-forecast-editor-pres>-->
<!--<app-forecast-details-pres></app-forecast-details-pres>-->