<app-toolbar-pres [isAdmin]="isAdmin$ | async"
                  [isLoggedIn]="isLogged$ | async"
                  [user]="user$ | async"
                  [cities]="cities$ | async"
                  (cityChosen)="onCityChosen($event)"
                  (favouritesClicked)="onFavouritesClicked()"
                  (notificationsClicked)="onNotificationsClicked()"
                  (loginClicked)="onLoginClicked()"
                  (logoutClicked)="onLogoutClicked()"
                  (adminCreateCity)="onAdminCreateCity()"
                  (adminDeleteCity)="onAdminDeleteCity()"
                  (adminCreateForecast)="onAdminCreateForecast()"
                  (adminDeleteForecast)="onAdminDeleteForecast()"
                  (homeClicked)="onHomeClicked()"></app-toolbar-pres>