<mat-toolbar color="primary">
  <span>Forecast project</span>
  <span class="spacer"></span>
  <mat-form-field class="search-field" appearance="fill">
    <mat-icon matPrefix>search</mat-icon>
    <input type="text" matInput [formControl]="myControl" [matAutocomplete]="auto" placeholder="Search cities">
    <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
      <mat-option *ngFor="let city of filteredCities | async" [value]="city">
        {{ city.name }}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
  <span class="spacer"></span>
  <button mat-button [matMenuTriggerFor]="userMenu">{{ isLoggedIn ? user.name : 'Guest' }}</button>
  <mat-menu #userMenu="matMenu">
    <ng-container *ngIf="isLoggedIn; else guestMenu">
      <button mat-menu-item>Favorites</button>
      <button mat-menu-item>Logout</button>
      <ng-container *ngIf="isAdmin">
        <mat-divider></mat-divider>
        <button mat-menu-item>Create City</button>
        <button mat-menu-item>Create Forecast</button>
        <button mat-menu-item>Delete City</button>
        <button mat-menu-item>Delete Forecast</button>
      </ng-container>
    </ng-container>
    <ng-template #guestMenu>
      <button mat-menu-item>Login</button>
    </ng-template>
  </mat-menu>
</mat-toolbar>
