mat-toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.spacer {
    flex: 1 1 auto;
}

.search-field {
    width: 300px;
}

mat-menu {
    z-index: 1000; /* Ensure the menu is on top */
}

.mat-form-field {
    position: relative;
    z-index: 10;
}
