.card-container {
    display: flex;
    justify-content: center;
    align-items: flex-start; /* Align to the top */
    height: 100vh;
    padding-top: 20px; /* Add some padding from the top */
}

mat-card {
    width: 400px;
}

mat-card-title {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
}

.detail-item {
    margin-bottom: 10px;
}
